header {
    background-color: #0BB3D9;
    width: 100%;
    height: 75px;
}

.navbar {
    text-decoration: none;
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: right;
    padding: 5px;
    float: right;

    a {
        color: white;
        text-decoration: none;
        padding: 3px;
        margin: 2px;
    }

    a:active {
        color: white
    }

    a:hover {
        background-color: #025373;
        transition: 0.3s;
    }
}



body {
    background-color: #262626;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.main-style {
    margin: 20px;
    padding: 10px;
    display: flex;

}

.main-titule {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

.main-body {
    height: 1000px;
    width: 50%;
}


.main-img {
    height: 1000px;
    width: 800px;
    overflow: hidden;
    float: right;
}

/* GALERIA */

.galery {
    display: flex;
    flex-direction: row;
    margin: 25px;
    text-align: center;

    .galery-img {
        height: 500px;
        width: 800px;
        overflow: hidden;
        padding: 30px;

    }

    .galery-titule {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        margin: 20px;

    }
}



.footer_flex {
    background-color: #0BB3D9;
    text-align: center;
    clear: left;
    display: flex;
    padding: 15px;

    .footer_text {
        width: 75%;
        justify-content: center;
        margin: 10px;
    }

    .footer_icon {
        width: 25%;
        align-content: center;
        margin: 20px;


        a {
            margin: 20px;
            padding: 5px;
        }
    }
}

/* CONTACTO */

.contact_main {
    display: flex;
    flex-direction: row;
    width: 100%;

    .contacto_text {
        width: 60%;
        margin: 20px;
    }

    .contact_form {
        width: 40%;
        padding: 20px;
    }
}
