header {
    background-color: #0BB3D9;
    width: auto;
    height: 100px;
}

.navbar {
    text-decoration: none;
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: right;
    padding: 25px;
    float: right;
}

a {
    color: white;
    text-decoration: none;
    padding: 50px;
    margin: 30px;
}

a:active {
    color: white
}

a:hover {
    background-color: #025373;
    padding: 50px;
    transition: 0.3s;
    margin: 30px;
}

body {
    background-color: #262626;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

/* HOME */

.main-style {
    margin: 20px;
    padding: 10px;

}

.main-titule {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    float: left;
}

.main-body {
    clear: left;
    display: flex;
    flex-direction: row;
    height: 1000px;
    width: 50%;
}

.main-img {
    height: 1000px;
    width: 800px;
    overflow: hidden;
}

/* GALERIA */

.galery {
    display: flex;
    flex-direction: row;
    margin: 25px;
    text-align: center;
}

.galery-img {
    height: 500px;
    width: 800px;
    overflow: hidden;
    padding: 30px;

}

.galery-titule {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin: 20px;

}

footer {
    background-color: #0BB3D9;
    text-align: center;
    clear: left;
}
